<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-feracor/blob/main/Actividad_semana_1-2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Fernando Acevedo Ortegate - Tecnologico de Monterrey - A01794022**

Your First Program

In [ ]:
print ('Hello \nworld!')

Hello
world!

In [ ]:
# print('Hello World!')

Types

In [ ]:
 type(int(1.0))

int

In [ ]:
bool(1)

True

**Expressions and Variables**

In [ ]:
43+60+16+41

160

In [ ]:
25/5

5.0

In [ ]:
2*60+30

150

In [ ]:
(30+2)*60

1920

In [ ]:
my_var = 5
print (my_var)

5

In [ ]:
x = 43+60+16+41
print (x)

160

In [ ]:
  y = x/60
  print (y)

2.6666666666666665

In [ ]:
total_min = 43+42
total_hr = total_min/60
print (total_hr)

1.4166666666666667

Lab - Write Your First Python Code!

In [ ]:
import sys
print(sys.version)

3.7.14 (default, Sep  8 2022, 00:06:44)
[GCC 7.5.0]

In [ ]:
# Practice on writing comments

print('Hi Fernando!') # This line prints a string
# print('Hi')

Hi Fernando!

In [ ]:
# Practice on writing comments

print('Hi!') # This line prints a string
# print('Hi')

Hi!

In [ ]:
type(12.0)

float

In [ ]:
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [ ]:
float(True)

1.0

In [ ]:
bool(2)

True

In [ ]:
type(6/2)

float

In [ ]:
type(6//2)

int

**String Operations**

In [ ]:
name = "Michael Jackson"
name

'Michael Jackson'

In [ ]:
name[-1]

'n'

In [ ]:
name[0]

'M'

In [ ]:
name[0:4]

'Mich'

In [ ]:
name[8:12]

'Jack'

In [ ]:
name[::2]

'McalJcsn'

In [ ]:
name[::3]

'Mhlas'

In [ ]:
name[0:5:2]

'Mca'

In [ ]:
len(name)

15

In [ ]:
statet = name + " is the best"
statet

'Michael Jackson is the best'

In [ ]:
3* "Michael Jackson "

'Michael Jackson Michael Jackson Michael Jackson '

In [ ]:
name =  name + " is the best"
name

'Michael Jackson is the best'

In [ ]:
print("Michael Jackson \n is the best")

Michael Jackson
 is the best

In [ ]:
print("Michael Jackson \t is the best")

Michael Jackson 	 is the best

In [ ]:
print("Michael Jackson \\ is the best")

Michael Jackson \ is the best

In [ ]:
print(r"Michael Jackson \ is the best")

Michael Jackson \ is the best

In [ ]:
print("Michael Jackson \ is the best")

Michael Jackson \ is the best

In [ ]:
#Methods
A = "Thriller is the sixth studio album"
B = A.upper()
B

'THRILLER IS THE SIXTH STUDIO ALBUM'

In [ ]:
B = name.replace("Michael","Janet")
B

'Janet Jackson is the best'

In [ ]:
name

'Michael Jackson is the best'

In [ ]:
name.find("el")

5

In [ ]:
 name.find("Jack")

8

In [ ]:
name.find("%3")

-1

In [ ]:
Numbers = "0123456"
Numbers[::2]

'0246'

In [ ]:
"0123456".find('1')

1

In [ ]:
name = 'abcdef'
print(name[0:2])

ab

In [ ]:
var = '01234567'
print(var[::2])

0246

In [ ]:
d = "ABCDEFG"
d[0:3]

'ABC'

In [ ]:
e = 'clocrkr1e1c1t'
e[::2]

'correct'

In [ ]:
g = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"
g.find('snow')

95

In [ ]:
g.replace("Mary", "Bob")

'Bob had a little lamb Little lamb, little lamb Bob had a little lamb Its fleece was white as snow And everywhere that Bob went Bob went, Bob went Everywhere that Bob went The lamb was sure to go'

**Lists and Tuples**

In [ ]:
A=(0,1,2,3)
A[-1]

3

In [ ]:
B=["a","b","c"]
B[1:]

['b', 'c']

In [ ]:
A = (0,1,2,3) #crear tupla
A

(0, 1, 2, 3)

In [ ]:
A[0:2] #ver primeros dos elementos de tupla

(0, 1)

In [ ]:
B=["a","b","c"] #Crear LISTA

In [ ]:
B[0:2] #Ver primeros dos elementos de la LISTA

['a', 'b']

In [ ]:
B[0]= 'A' #Cambiar primer elemnto de la lista por una 'A'
B

['A', 'b', 'c']

**Lab - Lists and Tuples**

In [ ]:
tuple1 = ("disco",10,1.2 ) # crear tupla
tuple1

('disco', 10, 1.2)

In [ ]:
print(tuple1[0]) #imprimir elemetod de la tupla de acuerdo al indexado en memoria
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

In [ ]:
print(type(tuple1[0])) #Imprimir el tipo de dato del elemento listado en la tupla
print(type(tuple1[1]))
print(type(tuple1[2]))

<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:
tuple1[-1] #imprimir elemento de tupla en negativo toma desde el ultimo elemento al primero, empieza desde -1 y depende de la longitud de la tupla

1.2

In [ ]:
tuple1[-2] #imprimir elemento de tupla en negativo toma desde el ultimo elemento al primero, empieza desde -1 y depende de la longitud de la tupla

10

In [ ]:
tuple1[-3] #imprimir elemento de tupla en negativo toma desde el ultimo elemento al primero, empieza desde -1 y depende de la longitud de la tupla

'disco'

In [ ]:
tuple2 = tuple1 + ("hard rock", 10) #concatenar tuplas hace que los elemtos de la tupla anterior se anadan a nuevos elementos de una nueva tupla
tuple2

('disco', 10, 1.2, 'hard rock', 10)

In [ ]:
tuple2[0:4] # 'Slice' recorta la tupla y tra los elemtos mencionados segun el indexado. La limite maximo toma encuenta el ultimo digito menos uno
            # si es 3, entonces el limite maximo es 4-1= 3

('disco', 10, 1.2, 'hard rock')

In [ ]:
tuple2[3:5] #se hace slide desde el tercer elemento indexado hasta el cuarto

('hard rock', 10)

In [ ]:
len(tuple2) #verifica el tama;o de la tupla contando los elementos indexados que contiene

5

In [ ]:
Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2.2) # sorting, se crea una tupla nueva

In [ ]:
RatingsSorted = sorted(Ratings) #organiza los elemtos de menor a mayor cuando todos los elementos son de tipo numerico y los guarda en una nueva tupla.
RatingsSorted

[0, 2.2, 5, 6, 6, 8, 9, 9, 10]

In [ ]:
NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2))) # Nested tuple: una tupla puede contener otra tupla contenida

In [ ]:
print("Element 0 of Tuple: ", NestedT[0]) #Imprmir elemtos de la tupla
print("Element 1 of Tuple: ", NestedT[1])
print("Element 2 of Tuple: ", NestedT[2])
print("Element 3 of Tuple: ", NestedT[3])
print("Element 4 of Tuple: ", NestedT[4])

Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('pop', 'rock')
Element 3 of Tuple:  (3, 4)
Element 4 of Tuple:  ('disco', (1, 2))

In [ ]:
print("Element 2, 0 of Tuple: ",   NestedT[2][0]) # Se puede acceder a los elementos de una tupla anidada en otra, se debe referenciar el index de la primer tupla
print("Element 2, 1 of Tuple: ",   NestedT[2][1]) # Posteriormente se referencia el indexado internod e la tupla
print("Element 3, 0 of Tuple: ",   NestedT[3][0])
print("Element 3, 1 of Tuple: ",   NestedT[3][1])
print("Element 4, 0 of Tuple: ",   NestedT[4][0])
print("Element 4, 1 of Tuple: ",   NestedT[4][1])

Element 2, 0 of Tuple:  pop
Element 2, 1 of Tuple:  rock
Element 3, 0 of Tuple:  3
Element 3, 1 of Tuple:  4
Element 4, 0 of Tuple:  disco
Element 4, 1 of Tuple:  (1, 2)

In [ ]:
NestedT[2][1][0] # se ririge al tercer elemento indexado ("pop", "rock"), 
                 # luego se dirige el segundo elemento indexado dentro de la tupla anidada (rock), imprime el primer caracter 'r'

'r'

In [ ]:
NestedT[2][1][1] # tercer elemento, segundo elemento, segundo caracter: "o"

'o'

In [ ]:
NestedT[4][1][0] #quinto elemento indexado, segundo elemento indexado, primer caracter : 1

1

In [ ]:
NestedT[4][1][1] #quinto elemento indexado, segundo elemento indexado, segundo caracter : 2

2

In [ ]:
# sample tuple

genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
genres_tuple

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')

In [ ]:
# Write your code below and press Shift+Enter to execute
len(genres_tuple)

8

In [ ]:
# Write your code below and press Shift+Enter to execute
genres_tuple[3]

'hard rock'

In [ ]:
# Write your code below and press Shift+Enter to execute
genres_tuple[3:6]

('hard rock', 'soft rock', 'R&B')

In [ ]:
# Write your code below and press Shift+Enter to execute
genres_tuple[:2]

('pop', 'rock')

In [ ]:
 #Find the first index of "disco"
genres_tuple.index("disco")

7

In [ ]:
#Generate a sorted List from the Tuple C_tuple=(-5, 1, -3):
C_tuple=(-5, 1, -3)
C_tuple_sorted = sorted(C_tuple)
C_tuple_sorted

[-5, -3, 1]

LABORATORIO DE LISTAS

In [ ]:
# Create a list

L = ["Michael Jackson", 10.1, 1982]
L

['Michael Jackson', 10.1, 1982]

In [ ]:
# Imprime los elementos usando dos firmatos de indexado, el positivo y el negativo. 
print('the same element using negative and positive indexing:\n Postive:',L[0],
'\n Negative:' , L[-3]  )
print('the same element using negative and positive indexing:\n Postive:',L[1],
'\n Negative:' , L[-2]  )
print('the same element using negative and positive indexing:\n Postive:',L[2],
'\n Negative:' , L[-1]  )

the same element using negative and positive indexing:
 Postive: Michael Jackson
 Negative: Michael Jackson
the same element using negative and positive indexing:
 Postive: 10.1
 Negative: 10.1
the same element using negative and positive indexing:
 Postive: 1982
 Negative: 1982

In [ ]:
# Las listas pueden contener otras listan indexadas, tuplasy tipos de datos basicos
["Michael Jackson", 10.1, 1982, [1, 2], ("A", 1)]

['Michael Jackson', 10.1, 1982, [1, 2], ('A', 1)]

In [ ]:
#crear lista y guardarla
L = ["Michael Jackson", 10.1,1982,"MJ",1]
L

['Michael Jackson', 10.1, 1982, 'MJ', 1]

In [ ]:
# Hacer slice/recortar la lista desde el elemento 3 al  4
L[3:5]

['MJ', 1]

In [ ]:
L

['Michael Jackson', 10.1, 1982, 'MJ', 1]

In [ ]:
# Se usa el metodo 'extend' para agregar mas elemntos a la lista dentro den un espacio indexado a cada elemento nuevo
L = [ "Michael Jackson",10.2] # Crear lista
L.extend(['pop', 10]) #aadir nuevos elemento al final de la lista
L

['Michael Jackson', 10.2, 'pop', 10]

In [ ]:
len(L)

4

In [ ]:
# El metodo 'append' agrega elementos a las lista en un solo espacio indexado
L = [ "Michael Jackson", 10.2] # Crea lista
L.append(['pop', 10]) # Agrega una lista en el ultimo espacio indexado
L

['Michael Jackson', 10.2, ['pop', 10]]

In [ ]:
len(L)

3

In [ ]:
L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L.append(['a','b'])
L

['Michael Jackson', 10.2, 'pop', 10, ['a', 'b']]

In [ ]:
# Las lista permiten hacer cambios en ellas
A = ["disco", 10, 1.2] # Crear lista
print('Before change:', A)
A[0] = 'hard rock'    # Se cambia el primer elemento de la lista
print('After change:', A)

Before change: ['disco', 10, 1.2]
After change: ['hard rock', 10, 1.2]

In [ ]:
# se pueden eliminar elemtnsode la lista con el metodo 'del'
print('Before change:', A)
del(A[0])   # Elimina el primer elemento de la lista A
print('After change:', A)

Before change: ['hard rock', 10, 1.2]
After change: [10, 1.2]

In [ ]:
# El metodo 'split' permite dividir una cadena de caracteres dentro de los elementos de una lista y crear nuevos elementos de acuerdo a las palabras contenidas
'hard rock'.split()

['hard', 'rock']

In [ ]:
# se puede usar el metodo 'split' y agregar una condicion para que ese argumento divida los elemntos y creee una lista
'A,B,C,D'.split(',')

['A', 'B', 'C', 'D']

In [ ]:
# COPIAR - En este caso se copia una lista, pero las dos apuntan a la misma direccion en memoria
A = ["hard rock", 10, 1.2]
B = A
print('A:', A)
print('B:', B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

In [ ]:
# Al cambiar un elemento en una de las dos lista, ambas listas vana tener una direccion propia en memoria y se vuelven independientes
print('B[0]:', B[0])
A[0] = "banana"
print('B[0]:', B[0])

B[0]: hard rock
B[0]: banana

In [ ]:
# Se pueden clonar los elementos de una lista y agregarlos a una nueva
B = A[:]
B

['banana', 10, 1.2]

In [ ]:
# al clonar una lista, si se cambia un elemento de una lista, no se afecta la otra
print('B[0]:', B[0])
A[0] = "hard rock" # Se cambia elemto en lista A
print('B[0]:', B[0])

B[0]: banana
B[0]: banana

In [ ]:
#Create a list a_list, with the following elements 1, hello, [1,2,3] and True.

A = [1, 'hello', [1,2,3], True]
A

[1, 'hello', [1, 2, 3], True]

In [ ]:
# Find the value stored at index 1 of a_list. 
A[1]

'hello'

In [ ]:
# Retrieve the elements stored at index 1, 2 and 3 of a_list.
A[1:4]

['hello', [1, 2, 3], True]

In [ ]:
# Concatenate the following lists A = [1, 'a'] and B = [2, 1, 'd']:

A = [1, 'a']
B = [2, 1, 'd']
C = A + B
C

[1, 'a', 2, 1, 'd']

## **SET**

In [ ]:
# CAST Convertir la lista en un set.
a = ['A','B','C','A','B','C'] 
set(a)

{'A', 'B', 'C'}

In [ ]:
# Agredar un elemento nuevo al set con el metodo 'add'
S={'A','B','C'}
S.add('D')
S

{'A', 'B', 'C', 'D'}

In [ ]:
# INTERSECCION DE set: 
A={1,2,3,4,5}
B={1,3,9, 12}
A&B

{1, 3}

In [ ]:
# INTERSECCION DE set: 
A={1,2,3,4,5}
B={1,3,9, 12}
A.intersection(B)

{1, 3}

# Dictionaries in Python

In [ ]:

# Create the dictionary

Dict = {"key1": 1, "key2": "2", "key3": [3, 3, 3], "key4": (4, 4, 4), ('key5'): 5, (0, 1): 6}
Dict

{'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5,
 (0, 1): 6}

In [ ]:
# Access to the value by the key

Dict["key1"]

1

In [ ]:
# Access to the value by the key

Dict[(0, 1)]

6

In [ ]:
# Create a sample dictionary

release_year_dict = {"Thriller": "1982", "Back in Black": "1980", \
                    "The Dark Side of the Moon": "1973", "The Bodyguard": "1992", \
                    "Bat Out of Hell": "1977", "Their Greatest Hits (1971-1975)": "1976", \
                    "Saturday Night Fever": "1977", "Rumours": "1977"}
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

In [ ]:
# Get value by keys

release_year_dict['Thriller']

'1982'

In [ ]:
# Get value by key

release_year_dict['The Bodyguard']

'1992'

In [ ]:
# Get all the keys in dictionary

release_year_dict.keys()

dict_keys(['Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Bat Out of Hell', 'Their Greatest Hits (1971-1975)', 'Saturday Night Fever', 'Rumours'])

In [ ]:
# Get all the values in dictionary

release_year_dict.values()

dict_values(['1982', '1980', '1973', '1992', '1977', '1976', '1977', '1977'])

In [ ]:
# Question sample dictionary

soundtrack_dic = {"The Bodyguard":"1992", "Saturday Night Fever":"1977"}
soundtrack_dic

{'The Bodyguard': '1992', 'Saturday Night Fever': '1977'}

In [ ]:
soundtrack_dic.keys()

dict_keys(['The Bodyguard', 'Saturday Night Fever'])

In [ ]:
soundtrack_dic.values()

dict_values(['1992', '1977'])

In [ ]:
album_sales_dict = {"The Bodyguard":50, "Back in Black":50, "Thriller":65}

In [ ]:
album_sales_dict["Thriller"]

65

In [ ]:
album_sales_dict.keys()

dict_keys(['The Bodyguard', 'Back in Black', 'Thriller'])

In [ ]:
album_sales_dict.values()

dict_values([50, 50, 65])

In [ ]:
album_sales_dict.values()

dict_values([50, 50, 65])

## **Conditions and Branching**

In [ ]:
# True
i = 2
i!=0

True

In [ ]:
# False
i = 0
i!=0

False

In [ ]:
# True
i = 0
i == 0

True

In [ ]:
# False
i = 2
i == 0

False

In [ ]:
x='a'

if(x!='a'):

  print("This is not a.")

else:

  print("This is a.") # se imprime esta opcion

This is a.

In [ ]:
# Condicional igual
a = 5
a == 6

False

In [ ]:
# Comparacion
i = 6
i > 5 #pregunta si el valor de i es mayor a 5, es True

True

In [ ]:
# Comparacion
i = 2
i > 5 #pregunta si el valor de i es mayor a 5, es false

False

In [ ]:
# Diferente
i = 2
i != 6 #pregunta si el valor de i es diferente a 6, es True

True

In [ ]:
# Diferente
i = 6
i != 6  #pregunta si el valor de i es diferente a 6, es False

False

In [ ]:
# Igualdad
"ACDC" == "Michael Jackson" #False

False

In [ ]:
# Diferencia
"ACDC" != "Michael Jackson" #True

True

In [ ]:
#condicional if

age = 19
#age = 18

#expression that can be true or false
if age > 18:
    
    #within an indent, we have the expression that is run if the condition is true
    print("you can enter" )

#The statements after the if statement will run regardless if the condition is true or false 
print("move on")

you can enter
move on

In [ ]:
# Condicional con else

age = 18
# age = 19

if age > 18:
    print("you can enter" )
else:
    print("go see Meat Loaf" )
    
print("move on")

go see Meat Loaf
move on

In [ ]:
# Condicional elif (else + if)

age = 18

if age > 18:
    print("you can enter" )
elif age == 18:
    print("go see Pink Floyd")
else:
    print("go see Meat Loaf" )
    
print("move on")

go see Pink Floyd
move on

In [ ]:
# Condicional AND

album_year = 1980

if(album_year > 1979) and (album_year < 1990):
    print ("Album year was in between 1980 and 1989")
    
print("")
print("Do Stuff..")

Album year was in between 1980 and 1989

Do Stuff..

In [ ]:
# Condicional OR

album_year = 1990

if(album_year < 1980) or (album_year > 1989):
    print ("Album was not made in the 1980's")
else:
    print("The Album was made in the 1980's ")

Album was not made in the 1980's

In [ ]:
# Condicional NOT

album_year = 1983

if not (album_year == 1984):
    print ("Album year is not 1984")

Album year is not 1984

QUIZ ON CONDITIONS

In [ ]:
Back_in_Black = 8.5

if Back_in_Black >= 8.5:
    print ("This album is Amazing!")
else:
    print("The Album isn't Amazing")

This album is Amazing!

In [ ]:
Back_in_Black = 8

if Back_in_Black > 8:
    print ("This album is Amazing!")
else:
    print("this album is ok")

this album is ok

In [ ]:
if(album_year < 1980):
    print ("Album was made before 1980")
elif(album_year == 1991):
    print("The Album was made in 1991")
elif(album_year == 1993):
    print("The Album was made in 1993") 
else:
    print("The Album wasn't made neither before 1980, nor 1991, nor 1993 ")

The Album wasn't made neither before 1980, nor 1991, nor 1993

# Loops

In [ ]:
# Imprimir los valores de la lista A uno por uno
A=[3,4,5]
i = 0
for i in A:
    print(i)

3
4
5

In [ ]:
# Valor para x 
x=11
y=1
while(y != x):
    print(y)
    y=y+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Imprimir fechas
dates = [1982,1980,1973]
N = len(dates)      # N se le asigna el valor del tama;o de la lista dates, N vale 3

for i in range(N):  # i vale cero en un rango que vale N
    print(dates[i])   # se imprime el contenido del indice que valga i

1982
1980
1973

In [ ]:
# Se imprimen numeros del cero al 7

for i in range(0, 8): # i se evalua entre 0 y 8 elementos desde el indice cero, es decir del 0 al 7 
    print(i)          # se imprime el valor de i

0
1
2
3
4
5
6
7

In [ ]:
# Impresion de a;os

for year in dates:  # Similar al ejemplo anterior, pero la variable i se sustiye por 'years' y se ubica la lista 'dates' como rango
    print(year)     # se imprime el a;o

1982
1980
1973

In [ ]:
# Cambio de listas

squares = ['red', 'yellow', 'green', 'purple', 'blue']  # Lista de 5 elemntos, index desde 0 hasta 4

for i in range(0, 5):     # variable i, rango: 0,1,2,3,4
    print("Before square ", i, 'is',  squares[i]) # Imprime el valor que tiene el indice i y el valor de la lista en el indice i
    squares[i] = 'white'                          # En la lista cmbia el valor que hay en el indice i por 'white'
    print("After square ", i, 'is',  squares[i])  # Imprime el valor de i y el valor que ahora tiene el indice en la lista i

Before square  0 is red
After square  0 is white
Before square  1 is yellow
After square  1 is white
Before square  2 is green
After square  2 is white
Before square  3 is purple
After square  3 is white
Before square  4 is blue
After square  4 is white

In [ ]:
# Imprimir index y contenido de la lista

squares=['red', 'yellow', 'green', 'purple', 'blue']   # Lista de 5 elemntos, index desde 0 hasta 4

for i, square in enumerate(squares):  # se inicializa la variable i y la variable 'square', se usa el metodo enumerare
    print(i, square)    #imprime indice y contenido de la lista

0 red
1 yellow
2 green
3 purple
4 blue

In [ ]:
# While Loop Example

dates = [1982, 1980, 1973, 2000]

i = 0
year = dates[0]

while(year != 1973):    
    print(year)
    i = i + 1
    year = dates[i]
    

print("It took ", i ,"repetitions to get out of loop.")

1982
1980
It took  2 repetitions to get out of loop.

In [ ]:
# Write a for loop the prints out all the element between -5 and 5 using the range function
for i in range(-5, 6): 
    print(i)

-5
-4
-3
-2
-1
0
1
2
3
4
5

In [ ]:
# Print the elements of the following list: Genres=[ 'rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop'] Make sure you follow Python conventions.
Genres=[ 'rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop']

for i in Genres: 
    print(i)

rock
R&B
Soundtrack
R&B
soul
pop

In [ ]:
# Write a for loop that prints out the following list: squares=['red', 'yellow', 'green', 'purple', 'blue']
squares=['red', 'yellow', 'green', 'purple', 'blue']

for i in squares: 
    print(i)

red
yellow
green
purple
blue

In [ ]:
# Write a while loop to display the values of the Rating of an album playlist stored in the list PlayListRatings. If the score is less than 6, exit the loop. The list PlayListRatings is given by:
PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]
i = 0
Rating = PlayListRatings[0]
while(i < len(PlayListRatings) and Rating >= 6):
    print(Rating)
    i = i + 1 # This prints the value 10 only once 
    Rating = PlayListRatings[i]
    i = i + 1 #Try uncommenting the line and comment the previous i = i + 1, and see the difference, 10 value will get printed twice because when the loop starts it will print Rating and then with PlayListRatings[0], it will again assign the value 10 to Ratings.

10
9.5
8

In [ ]:
# Write a while loop to copy the strings 'orange' of the list squares to the list new_squares. Stop and exit the loop if the value on the list is not 'orange'
squares = ['orange', 'orange', 'purple', 'blue ', 'orange']
new_squares = []
i = 0
while(i < len(squares) and squares[i] == 'orange'):
    new_squares.append(squares[i])
    i = i + 1
print (new_squares)

['orange', 'orange']

## **Functions**

In [ ]:
# funcion que multiplica
def f(a,b):
    
    return a*b

a=4
b=2

if a*b==f(a,b):   
    print("Correct.")   
else:    
    print("Incorrect.")

Correct.

In [ ]:
# Funsion que suma los elemntos de una lista
def g(c):

    return sum(c)

c=[1,2,3,4,5]

if sum(c)==g(c):   
    print("Correct.")   
else:    
    print("Incorrect.")

Correct.

In [ ]:
def f(*x):

  return sum(x)

In [1]:
# Sumar 1 a b y retornar b

def add(a): # Se define la funcion
    """
    add 1 to a
    """
    b = a + 1 # se hace la operacion de adicion a b
    print(a, "if you add one", b)
    return(b) # regresa a b

In [2]:
# Para obtener informcion de una funcion
help(add)

Help on function add in module __main__:

add(a)
    add 1 to a

In [3]:
# Crear funcion con multiples parametros

def Mult(a, b):
    c = a * b
    return(c)
    print('This is not printed')
    
result = Mult(12,2)
print(result)

24

In [4]:
# Toda variable fuera de la funcion es variable global

def square(a):
    
    # Variables locales b y c
    b = 1
    c = a * a + b
    print(a, "if you square + 1", c) 
    return(c)

In [8]:
# Funciones equivalentes, no retornan valor de la funcion.

def MJ():
    print('Michael Jackson 1')
    
def MJ1():
    print('Michael Jackson 2 ')
    return(None)

MJ()
MJ1()

Michael Jackson 1
Michael Jackson 2

In [9]:
# Printing the function after a call reveals a None is the default return statement:
print(MJ())
print(MJ1())

Michael Jackson 1
None
Michael Jackson 2
None

In [12]:
# Funcion para concatenar dos strings
def con(a, b):
    return(a + b)

con("This ", "is")

'This is'

In [13]:
# Programa 1 calcular un valor

a1 = 4
b1 = 5
c1 = a1 + b1 + 2 * a1 * b1 - 1
if(c1 < 0):
    c1 = 0 
else:
    c1 = 5
c1

5

In [15]:
# Segundo ejeprograma para calcular

a2 = 0
b2 = 0
c2 = a2 + b2 + 2 * a2 * b2 - 1
if(c2 < 0):
    c2 = 0 
else:
    c2 = 5
c2

0

In [16]:
#  funcion que realiza las operaciones de los dos bloques anteriores y puede ser reutilizada
def Equation(a,b):
    c = a + b + 2 * a * b - 1
    if(c < 0):
        c = 0 
    else:
        c = 5
    return(c)

In [20]:
# Ejemplo de ejecucion de funcion del bloque anterior
a1 = 4
b1 = 5
c1 = Equation(a1, b1)
c1

5

In [21]:
# Ejemplo de ejecucion de funcion del bloque anterior

a2 = 0
b2 = 0
c2 = Equation(a2, b2)
c2

0

In [22]:
# Funciones predefinidas

album_ratings = [10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5] # Crear una lista
print(album_ratings)

[10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5]

In [25]:
sum(album_ratings)  # Funcion predefinida que suma los elementos numericos contenidos en la lista

70.0

In [27]:
len(album_ratings)  # funcion que muestra el tama;o de la lista (Muestra el tama;o en cantidad de indices)

8

In [30]:
# Funcion de comparacion

def type_of_album(artist, album, year_released):
    
    print(artist, album, year_released)
    if year_released > 1980:
        return "Modern"
    else:
        return "Oldie"
    
x = type_of_album("Michael Jackson", "Thriller", 1980)
print(x)

Michael Jackson Thriller 1980
Oldie

In [33]:
# Imprime las lista haciendo uso de ciclo for

def PrintList(the_list):    # Se deficne la funcion que toma como parametro las lista
    for element in the_list:
        print(element)

PrintList(['1', 1, 'the man', "abc"]) # Se llama a la funcion y se definen los parametros que se van ingresar

1
1
the man
abc

In [37]:
# Example for setting param with default value

def isGoodRating(rating=4): # Evalua el parametro ingresado
    if(rating < 7):
        print("this album sucks it's rating is",rating)
        
    else:
        print("this album is good its rating is",rating)

isGoodRating()    # Llamado a funcion sin parametro
isGoodRating(10)  # llamado a funcion con parametro

this album sucks it's rating is 4
this album is good its rating is 10

In [39]:
# Variables globales

artist = "Michael Jackson"  #  'artist' es una variable que esta por fuera de la funcion, por lo tanto es una variable global
def printer1(artist):
    internal_var1 = artist
    print(artist, "is an artist")

printer1(artist)

Michael Jackson is an artist

In [41]:
artist = "Michael Jackson"    #Variable GLOBAL

def printer(artist):
    global internal_var 
    internal_var= "Whitney Houston"   # Variable LOCAL
    print(artist,"is an artist")

printer(artist) 
printer(internal_var)

Michael Jackson is an artist
Whitney Houston is an artist

In [ ]:
Scope of a Variable